Screen {
    background: $surface-darken-1;
}


BaseApp {
    display: block;
    max-width: 50%;
}


Horizontal {
    align: center middle;
    height: auto;
    content-align-horizontal: center;
    content-align-vertical: middle;
}

RadioSet {
    width: 45%;
}