#sidebar {
  min-height: 100vh;
  top: 130px;

  @include media-breakpoint-down(md) {
    top: 80px;
  }

  @include media-breakpoint-up(md) {
    max-width: 15rem;
  }


}

.sidebar-item {
  padding: 0.75rem 1.25rem;
  color: #495057;
}
