.institution-row {
  @include media-breakpoint-down(md) {
    max-height: 25vh;
    overflow-y: scroll;
  }
}

.institution-list-row {
  @include media-breakpoint-down(md) {
    max-width: 75vw;
  }
}
