@charset "UTF-8";
/* barlow-Thin - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('/media/fonts/barlow/Barlow-Thin.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-Thin.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-Thinitalic - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: italic;
  font-weight: 100;
  src: local(''),
       url('/media/fonts/barlow/Barlow-ThinItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-ThinItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-ExtraLight - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('/media/fonts/barlow/Barlow-ExtraLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-ExtraLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-Light - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/media/fonts/barlow/Barlow-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-Lightitalic - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('/media/fonts/barlow/Barlow-LightItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-LightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-ExtraLightitalic - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: italic;
  font-weight: 200;
  src: local(''),
       url('/media/fonts/barlow/Barlow-ExtraLightItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-ExtraLightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-regular - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/media/fonts/barlow/Barlow-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-italic - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/media/fonts/barlow/Barlow-Italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-Italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-Medium - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/media/fonts/barlow/Barlow-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-Mediumitalic - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('/media/fonts/barlow/Barlow-MediumItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-MediumItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-SemiBold - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/media/fonts/barlow/Barlow-SemiBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-SemiBolditalic - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('/media/fonts/barlow/Barlow-SemiBoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-SemiBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-Bold - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/media/fonts/barlow/Barlow-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-Bolditalic - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('/media/fonts/barlow/Barlow-BoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-BoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-ExtraBold - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('/media/fonts/barlow/Barlow-ExtraBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-ExtraBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-ExtraBolditalic - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: italic;
  font-weight: 800;
  src: local(''),
       url('/media/fonts/barlow/Barlow-ExtraBoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-ExtraBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-Black - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('/media/fonts/barlow/Barlow-Black.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-Black.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-Blackitalic - latin-ext_latin */
@font-face {
  font-family: 'identity';
  font-style: italic;
  font-weight: 900;
  src: local(''),
       url('/media/fonts/barlow/Barlow-BlackItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/barlow/Barlow-BlackItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* noticia-text-regular - latin-ext_latin */
@font-face {
  font-family: 'identitytext';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/media/fonts/noticia/NoticiaText-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/noticia/NoticiaText-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noticia-text-700 - latin-ext_latin */
@font-face {
  font-family: 'identitytext';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/media/fonts/noticia/NoticiaText-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/noticia/NoticiaText-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noticia-text-italic - latin-ext_latin */
@font-face {
  font-family: 'identitytext';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/media/fonts/noticia/NoticiaText-RegularItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/noticia/NoticiaText-RegularItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noticia-text-BoldItalic - latin-ext_latin */
@font-face {
  font-family: 'identitytext;
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('/media/fonts/noticia/NoticiaText-BoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/media/fonts/noticia/NoticiaText-BoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
