@charset "UTF-8";

:root {
    --text-compressed-font-size: calc(calc(12 / 16) * 1rem);
    --text-compressed-line-height: calc(21 / 16);
    
    --text-dense-font-size: calc(calc(14 / 16) * 1rem);
    --text-dense-line-height: calc(21 / 16);
    
    --text-regular-font-size: calc(calc(16 / 16) * 1rem);
    --text-regular-line-height: calc(24 / 16);
    
    --text-relaxed-font-size: calc(calc(18 / 16) * 1rem);
    --text-relaxed-line-height: calc(28 / 16);
    
    
    --tight-text-compressed-font-size: var(--text-compressed-font-size);
    --tight-text-compressed-line-height: calc(16 / 16);
    
    --tight-text-dense-font-size: var(--text-dense-font-size);
    --tight-text-dense-line-height: calc(18 / 16);
    
    --tight-text-regular-font-size: var(--text-regular-font-size);
    --tight-text-regular-line-height: calc(21 / 16);
    
    --tight-text-relaxed-font-size: var(--text-relaxed-font-size);
    --tight-text-relaxed-line-height: calc(24 / 16);
    
    
    --heading-compressed-font-size: calc(calc(16 / 16) * 1rem);
    --heading-compressed-line-height: calc(calc(16 * 1.15) / 16);
    
    --heading-dense-font-size: calc(calc(21 / 16) * 1rem);
    --heading-dense-line-height: calc(calc(21 * 1.15) / 16);
    
    --heading-regular-font-size: calc(calc(24 / 16) * 1rem);
    --heading-regular-line-height: calc(calc(24 * 1.15) / 16);
    
    --heading-relaxed-font-size: calc(calc(36 / 16) * 1rem);
    --heading-relaxed-line-height: calc(calc(36 * 1.15) / 16);


    --large-heading-compressed-font-size: calc(calc(32 / 16) * 1rem);
    --large-heading-compressed-line-height: calc(calc(32 * 1.15) / 16);

    --large-heading-dense-font-size: calc(calc(42 / 16) * 1rem);
    --large-heading-dense-line-height: calc(calc(42 * 1.15) / 16);

    --large-heading-regular-font-size: calc(calc(48 / 16) * 1rem);
    --large-heading-regular-line-height: calc(calc(48 * 1.15) / 16);

    --large-heading-relaxed-font-size: calc(calc(72 / 16) * 1rem);
    --large-heading-relaxed-line-height: calc(calc(72 * 1.15) / 16);
    
    
    
    --display-small-font-size: calc(calc(20 / 16) * 1rem);
    --display-small-line-height: calc(calc(20 * 1.35) / 16);
    
    --display-regular-font-size: calc(calc(26 / 16) * 1rem);
    --display-regular-line-height: calc(calc(26 * 1.35) / 16);
    
    --display-large-font-size: calc(calc(30 / 16) * 1rem);
    --display-large-line-height: calc(calc(30 * 1.35) / 16);
    
    --display-xlarge-font-size: calc(calc(36 / 16) * 1rem);
    --display-xlarge-line-height: calc(calc(36 * 1.35) / 16);
    
    
    --banner-small-font-size: calc(calc(48 / 16) * 1rem);
    --banner-small-line-height: calc(calc(48 * 1.05) / 16);
    
    --banner-regular-font-size: calc(calc(56 / 16) * 1rem);
    --banner-regular-line-height: calc(calc(56 * 1.05) / 16);
    
    --banner-large-font-size: calc(calc(64 / 16) * 1rem);
    --banner-large-line-height: calc(calc(64 * 1.05) / 16);
    
    --banner-xlarge-font-size: calc(calc(80 / 16) * 1rem);
    --banner-xlarge-line-height: calc(calc(80 * 1.05) / 16);
}


.text-compressed {
    font-family: identity, sans-serif;
    font-weight: 400;
    font-size: var(--text-compressed-font-size);
    line-height: var(--text-compressed-line-height);
}

.text-dense {
    font-family: identity, sans-serif;
    font-weight: 400;
    font-size: var(--text-dense-font-size);
    line-height: var(--text-dense-line-height);
}

.text-regular {
    font-family: identity, sans-serif;
    font-weight: 400;
    font-size: var(--text-regular-font-size);
    line-height: var(--text-regular-line-height);
}

.text-relaxed {
    font-family: identity, sans-serif;
    font-weight: 400;
    font-size: var(--text-relaxed-font-size);
    line-height: var(--text-relaxed-line-height);
}

.tight-text-compressed {
    font-family: identity, sans-serif;
    font-weight: 400;
    font-size: var(--tight-text-compressed-font-size);
    line-height: var(--tight-text-compressed-line-height);
}

.tight-text-dense  {
    font-family: identity, sans-serif;
    font-weight: 400;
    font-size: var(--tight-text-dense-font-size);
    line-height: var(--tight-text-dense-line-height);
}

.tight-text-regular {
    font-family: identity, sans-serif;
    font-weight: 400;
    font-size: var(--tight-text-regular-font-size);
    line-height: var(--tight-text-regular-line-height);
}

.tight-text-relaxed {
    font-family: identity, sans-serif;
    font-weight: 400;
    font-size: var(--tight-text-relaxed-font-size);
    line-height: var(--tight-text-relaxed-line-height);
}




.speech-compressed {
    font-family: identitytext, serif;
    font-weight: 400;
    font-size: var(--text-compressed-font-size);
    line-height: var(--text-compressed-line-height);
}

.speech-dense {
    font-family: identitytext, serif;
    font-weight: 400;
    font-size: var(--text-dense-font-size);
    line-height: var(--text-dense-line-height);
}

.speech-regular {
    font-family: identitytext, serif;
    font-weight: 400;
    font-size: var(--text-regular-font-size);
    line-height: var(--text-regular-line-height);
}

.speech-relaxed {
    font-family: identitytext, serif;
    font-weight: 400;
    font-size: var(--text-relaxed-font-size);
    line-height: var(--text-relaxed-line-height);
}


.tight-speech-compressed {
    font-family: identitytext, serif;
    font-weight: 400;
    font-size: var(--tight-text-compressed-font-size);
    line-height: var(--tight-text-compressed-line-height);
}

.tight-speech-dense {
    font-family: identitytext, serif;
    font-weight: 400;
    font-size: var(--tight-text-dense-font-size);
    line-height: var(--tight-text-dense-line-height);
}

.tight-speech-regular {
    font-family: identitytext, serif;
    font-weight: 400;
    font-size: var(--tight-text-regular-font-size);
    line-height: var(--tight-text-regular-line-height);
}

.tight-speech-relaxed {
    font-family: identitytext, serif;
    font-weight: 400;
    font-size: var(--tight-text-relaxed-font-size);
    line-height: var(--tight-text-relaxed-line-height);
}




.heading-compressed {
    font-family: identity, sans-serif;
    font-weight: 600;
    font-size: var(--heading-compressed-font-size);
    line-height: var(--heading-compressed-line-height);
}

.heading-dense {
    font-family: identity, sans-serif;
    font-weight: 600;
    font-size: var(--heading-dense-font-size);
    line-height: var(--heading-dense-line-height);
}

.heading-regular {
    font-family: identity, sans-serif;
    font-weight: 600;
    font-size: var(--heading-regular-font-size);
    line-height: var(--heading-regular-line-height);
}

.heading-relaxed {
    font-family: identity, sans-serif;
    font-weight: 600;
    font-size: var(--heading-relaxed-font-size);
    line-height: var(--heading-relaxed-line-height);
}





.display-small {
    font-family: identity, sans-serif;
    font-weight: 500;
    font-size: var(--display-small-font-size);
    line-height: var(--display-small-line-height);
}

.display-regular {
    font-family: identity, sans-serif;
    font-weight: 500;
    font-size: var(--display-regular-font-size);
    line-height: var(--display-regular-line-height);
}

.display-large {
    font-family: identity, sans-serif;
    font-weight: 500;
    font-size: var(--display-large-font-size);
    line-height: var(--display-large-line-height);
}

.display-xlarge {
    font-family: identity, sans-serif;
    font-weight: 500;
    font-size: var(--display-xlarge-font-size);
    line-height: var(--display-xlarge-line-height);
}



.banner-small {
    font-family: identity, sans-serif;
    font-weight: 700;
    font-size: var(--banner-small-font-size);
    line-height: var(--banner-small-line-height);
}

.banner-regular {
    font-family: identity, sans-serif;
    font-weight: 700;
    font-size: var(--banner-regular-font-size);
    line-height: var(--banner-regular-line-height);
}

.banner-large {
    font-family: identity, sans-serif;
    font-weight: 700;
    font-size: var(--banner-large-font-size);
    line-height: var(--banner-large-line-height);
}

.banner-xlarge {
    font-family: identity, sans-serif;
    font-weight: 700;
    font-size: var(--banner-xlarge-font-size);
    line-height: var(--banner-xlarge-line-height);
}
